FORWARD_SERVER=socks5://127.0.0.1:7890

PROXY_IMAGE=nadoo/glider
PROXY_PORT=1080

POSTGRES_IMAGE=postgres:15-alpine
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=arbitrage

ADMINER_IMAGE=adminer:4
ADMINER_PORT=8080

BACKEND_PORT=8000
FRONTEND_PORT=3000

BINANCE_API_KEY=
BINANCE_SECRET_KEY=
BINANCE_TESTNET=false
BINANCE_AUTH_HTTP_PROXY=http://proxy:1080

COLLECTOR_TYPE=mock
TRADER_TYPE=mock

VITE_API_URL=http://backend:8000
